* {
    box-sizing: border-box; /* Isso evita que padding e borda ultrapassem a largura total */
}

header {
    padding: 80px 20px; /* Adicionando padding nas laterais */
    background: url(../../assets/images/bg.jpg);
    background-size: cover;
    background-position: top center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 20px;

    .box-content {
        max-width: 1200px;
        width: 100%;
        text-align: center;

        h1 {
            font-size: 40px;
        }

        p {
            width: 80%;
            font-size: 16px;
            font-weight: lighter;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Garantir que ocupe 100% da largura da tela */
    padding-left: 20px; /* Adicionando um pequeno padding à esquerda */
    padding-right: 20px; /* Adicionando um pequeno padding à direita */
    margin: 0 auto; /* Garantir que o conteúdo centralize */

    .content {
        padding-top: 40px;
        min-height: 100vh;
        max-width: 1200px;
        width: 100%;
        text-align: center;

        .buttons {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
            justify-content: center;
            padding-left: 10px; /* Adicionando padding à esquerda */
            padding-right: 10px; /* Adicionando padding à direita */

            button {
                padding: 10px 20px;
                margin-right: 10px;
                text-decoration: none;
                font-size: 14px;
                border: solid 1px rgb(55, 55, 55);
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                .dark {
                    color: white;
                    background-color: black;
                }

                .transparente {
                    color: rgb(55, 55, 55);
                    background-color: transparent;
                }

                &:hover {
                    background-color: rgb(55, 55, 55);
                    color: white;
                    transition: 0.5s;
                    cursor: pointer;
                }

                .material-icons {
                    margin-right: 8px;
                    font-size: 18px;
                }

                p {
                    margin: 0;
                }
            }
        }

        .items {
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;
            justify-items: center;
            width: 100%;
        }

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 5px;
            justify-content: space-between;
            height: 100%;

            .info {
                padding: 10px 0;
            }

            .item-image {
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius: 8px;
                border: solid 1px rgb(204, 204, 204);
                margin-bottom: 10px;
            }

            button {
                width: 100%;
                padding: 10px;
                background-color: black;
                color: white;
                border: none;

                &:hover {
                    background-color: rgb(55, 55, 55);
                    color: white;
                    transition: 0.5s;
                    cursor: pointer;
                }
            }
        }
    }
}

/* Responsividade */
@media (max-width: 1024px) {
    header {
        height: 300px !important;
    }

    .items {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .item-image {
        width: 120px !important;
        height: 120px !important;
    }
}

@media (max-width: 768px) {
    header {
        height: 250px !important;
    }

    .items {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .item-image {
        width: 100px !important;
        height: 100px !important;
    }
}

@media (max-width: 480px) {
    header {
        height: 200px !important;
    }

    .items {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .item-image {
        width: 80px !important;
        height: 80px !important;
    }
}
