<header>
    <div class="box-content">
        <h1>Lista de presentes</h1>
    </div>
</header>

<main>
    <section class="content">
        <div class="buttons">
            <button (click)="filterItems('all')"
                [ngClass]="{'dark': buttonActive === 'all', 'transparente': buttonActive !== 'all'}">
                <span class="material-icons">select_all</span>
                <p>Todos</p>
            </button>
            <button (click)="filterItems('casa')"
                [ngClass]="{'dark': buttonActive === 'casa', 'transparente': buttonActive !== 'casa'}">
                <span class="material-icons">home</span>
                <p>Casa</p>
            </button>
            <button (click)="filterItems('lua_de_mel')"
                [ngClass]="{'dark': buttonActive === 'lua_de_mel', 'transparente': buttonActive !== 'lua_de_mel'}">
                <span class="material-icons">location_on</span>
                <p>Lua de Mel</p>
            </button>
            <button (click)="filterItems('criativos')"
                [ngClass]="{'dark': buttonActive === 'criativos', 'transparente': buttonActive !== 'criativos'}">
                <span class="material-icons">lightbulb</span>
                <p>Criativos</p>
            </button>
        </div>

        <div class="items">
            <div *ngFor="let item of paginatedItems" class="item">
                <img [src]="item.image" alt="{{item.title}}" class="item-image">
                <div class="info">
                    <h3>{{item.title}}</h3>
                    <p>{{item.price | currency:'BRL'}}</p>
                </div>
                <button (click)="openBuyItemModal(item)">COMPRAR</button>
            </div>
        </div>

        <div class="pagination" *ngIf="filteredItems.length > itemsPerPage">
            <button 
                (click)="previousPage()" 
                [disabled]="currentPage === 0"
                class="pagination-button">
                <span class="material-icons">chevron_left</span>
            </button>
            <span class="page-info">
                Página {{currentPage + 1}} de {{totalPages}}
            </span>
            <button 
                (click)="nextPage()" 
                [disabled]="currentPage === totalPages - 1"
                class="pagination-button">
                <span class="material-icons">chevron_right</span>
            </button>
        </div>
    </section>
</main>