<nav>
    <section>
        <img src="" alt="Logo-larissa-e-lucas">
    </section>
    <section>

        <ul>
            <a href="">
                Inicio
            </a>
        </ul>
        <ul>
            <a href="">
                Lista de presentes
            </a>
        </ul>
        <ul>
            <a href="">
                Cerimônia e festa
            </a>
        </ul>
        <ul>
            <a href="">
                Confirme sua presença
            </a>
        </ul>
        <ul>
            <a href="">
                Sugestão de traje
            </a>
        </ul>

    </section>
        
</nav>