<header>
  <div class="box-content">
    <h1>Confirmação de presença</h1>
  </div>
</header>

<main>
  <section class="content">

    <div class="container">
      <h2>Confirmação de Presença</h2>
      <br>

      <form class="example-form" (ngSubmit)="onSubmit()">
        <div class="form">
          <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input type="text" [(ngModel)]="nome" name="nomeInput" matInput placeholder="Seu nome">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Confirmação de presença</mat-label>
            <mat-select [(ngModel)]="valor" name="statusSelect">
              <mat-option value="sim">Irei</mat-option>
              <mat-option value="nao">Não irei</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button type="submit">Enviar</button>
      </form>
    </div>


  </section>
</main>