<header>
    <div class="box-content">
        <h1>Confirmação de presença</h1>
    </div>
</header>

<main>
    <section class="content">

      <!--   <img width="150px" src="/logo-preta.png" alt="">

        <h1>
            LARISSA 
            &
            LUCAS
        </h1>

        <p>Utilizamos inteligência artificial para confirmar sua presença via whatsapp.</p>
        <p>É imprecindivel que confirme a sua presença até o dia <strong>02/04/2025</strong>. </p>

        <button>
            CONFIRME SUA PRESENÇA
        </button> -->

        <h3>Volte em breve...</h3>
    

    </section>
</main>
