
nav {
    display: flex;
    justify-content: center;
    max-height: 80px;
    position: fixed;
    width: 100vw;
    z-index: 99999;
     
    
    .content{
        width: 1200px;
        height: 80px;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left{
            .img{
                width: 80px;
                height: 80px;
                background-image: url(../assets/images/logo-preta.png);
                background-size: 100%;
                filter: invert(1);
            }
        }
    
        .right{
    
            ul {
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: center;
                margin: 0;
                
                li{
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
        
                    a{
                        font-size: 12px;
                        text-transform: uppercase;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.scrolled {
    background-color: rgb(3, 3, 3);
  }
  
  .transparent {
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  footer{
    background-color: rgb(245, 245, 245);
    border-top: solid 1px rgb(223, 222, 222);
    margin-top: 50px;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: rgb(141, 141, 141);
   
    p{
        font-size: 12px;
    }
}