<header>

   <div class="box-content">
      <h1>Sugestão de traje</h1>

      <p>
         "Deus uniu nossos caminhos e nós, sob sua benção, uniremos nossas vidas para sempre."
      </p>
   </div>

</header>

<section class="main">
   <section class="content">
      <p class="subtitulo">DRESS CODE</p>
      <h3>Sugestão de Traje</h3>

      <p>
         <strong>
            Queridos convidados,1
         </strong>
      </p>

      <p>corpo</p>

      <p>
         <strong>
            Traje sugerido: Esporte Fino
         </strong>
      </p>

      <p>
         corpo
      </p>

      <p>
         <strong>Lembre-se:</strong> branco é a cor da noiva;
      </p>
   </section>
</section>