<header>

   <div class="box-content">
      <h1>Sugestão de traje</h1>
   </div>

</header>

<section class="main">
   <section class="content">
      <div class="container">

         <p class="titulo">DRESS CODE</p>

         <p>
            Para nossa celebração sugerimos <strong>TRAJE SOCIAL</strong> .
         </p>

         <li>
            Para as mulheres, vestidos midi ou longo, sem muito brilho e o sapato que se sentir mais confortável.
         </li>


         <li>
            Para os homens, sugerimos terno, podendo ser usado com ou sem gravata ou calça de alfaiataria com camisa.
         </li>

         <p>
            <strong>Lembre-se:</strong> Evite trajes branco, bege e off-white, mesmo que seja estampado. <strong>branco é a cor da noiva.</strong> 
         </p>
      </div>


   </section>
</section>