<app-menu></app-menu>

<section class="localizacao">
    <iframe src="" frameborder="0"></iframe><!-- maps -->
</section>

<section class="container-cerimonia">
    <p>EVENTO</p>
   
    <h3>Cerimônia & Festa</h3>
   
    <div class="icone-evento">
        <span class="icon">
            <img src="" alt="icone de calendario">
        </span>
        <p>18 de maio de 2025 - 15:30</p>
    </div>
   
    <div class="icone-evento">
        <span class="icon">
            <img src="" alt="icone de localização">
        </span>
        <p>Rua da Jaqueira, 110 - Vargem Grande - RJ</p>
    </div>
   
    <button>
        ABRIR NO MAPS
    </button>

    <button>
        ADICIONAR À AGENDA
    </button>
</section>