<nav>
    <section>
        <img src="" alt="Logo-larissa-e-lucas">
    </section>
    <section>

<ul>
    <li><a routerLink="/inicio" routerLinkActive="active">Início</a></li>
    <li><a routerLink="/lista-de-presente" routerLinkActive="active">Lista de presentes</a></li>
    <li><a routerLink="/cerimonia-e-festa" routerLinkActive="active">Cerimônia e festa</a></li>
    <li><a routerLink="/confirmacao-de-presenca" routerLinkActive="active">Confirme sua presença</a></li>
    <li><a routerLink="/sugestao-de-traje" routerLinkActive="active">Sugestão de traje</a></li>
  </ul>
  
    </section>
</nav>

<header>
    <div>
        <hr>
        {{dataFormatada}}
        <hr>
        <p>Faltam {{diasRestantes}} dias</p>
    </div>

    <h1>LARISSA & LUCAS</h1>

    <p>
        "Deus uniu nossos caminhos e nós, sob sua benção, uniremos nossas vidas para sempre."
    </p>
</header>

<section class="container-evento">
    <p>EVENTO</p>

    <h3>Cerimônia & Festa</h3>

    <div class="icone-evento">
        <span class="icon">
            <img src="" alt="icone de calendario">
        </span>
        <p>18 de maio de 2025 - 15:30</p>
    </div>

    <div class="icone-evento">
        <span class="icon">
            <img src="" alt="icone de localização">
        </span>
        <p>Rua da Jaqueira, 110 - Vargem Grande - RJ</p>
    </div>

    <button>
        ABRIR NO MAPS
    </button>

    <button>
        ADICIONAR À AGENDA
    </button>
</section>

<section class="container-duplo">
    <section class="box-presentes">
        <p>Lista de presentes</p>

        <p></p>
        <button>
            PRESENTEAR
        </button>
    </section>

    <section class="box-sujestao-de-traje">
        <p class="subtitulo-box">DRESS CODE</p>
        <h3>Sugestão de Traje</h3>

        <p>
            Texto da sujestao
        </p>
        <button>
            CONTINUAR LENDO
        </button>
    </section>
</section>