<header>
    <div class="diasfaltantes">
        <hr class="hr1">
        {{dataFormatada}}
        <hr class="hr2">
        Faltam {{diasRestantes}} dias   
        <hr class="hr1">
    </div>

    <h1>LARISSA & LUCAS</h1>

    <p>
        "Deus uniu nossos caminhos e nós, sob sua benção, uniremos nossas vidas para sempre."
    </p>
</header>

<div class="body">

    <section class="container-evento">
        <p>EVENTO</p>

        <h3>Cerimônia & Festa</h3>

        <div class="icone-evento">
            <span class="icon">
                <img src="">
            </span>
            <p>18 de maio de 2025 - 15:30</p>
        </div>

        <div class="icone-evento">
            <span class="icon">
                <img src="">
            </span>
            <p>Rua da Jaqueira, 110 - Vargem Grande - RJ</p>
        </div>

        <button>
            ABRIR NO MAPS
        </button>

        <button>
            ADICIONAR À AGENDA
        </button>
    </section>

    <section class="container-duplo">
        <section class="box-presentes">
            <p>Lista de presentes</p>

            <p></p>
            <button>
                PRESENTEAR
            </button>
        </section>

        <section class="box-sujestao-de-traje">
            <p class="subtitulo-box">DRESS CODE</p>
            <h3>Sugestão de Traje</h3>

            <p>
                Texto da sujestao
            </p>
            <button>
                CONTINUAR LENDO
            </button>
        </section>
    </section>

</div>
