header {
    padding: 80px 0;
    background: url(../../assets/images/bg.jpg);
    background-size: cover;
    background-position: top center;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;

    .diasfaltantes {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 24px;

        .hr1 {
            width: 40px;
            height: 1px;
            background-color: white;
        }

        .hr2 {
            width: 40px;
            height: 4px;
            background-color: white;
        }
    }

    .eComercial {
        display: block;
        margin: 0 8px;
        font-family: "Playfair Display SC", serif;
        font-size: 60px;
        line-height: 1;
        text-align: center;
    }

    h1 {
        font-family: "Cardo", serif;
        font-size: 46px;
        text-align: center;
        font-weight: 200;
        line-height: 1.1;
        color: inherit;
    }

    p {
        width: 400px;
        text-align: center;
        font-size: 16px;
        font-weight: lighter;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;

    .container-duplo-first{
        display: flex;
        max-width: 1200px;
        flex-direction: column;
        width: 100%;
        gap: 40px;
    }

    .container-evento {
        border: solid 1px rgb(223, 222, 222);
        padding: 30px;
        width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
            color: rgb(102, 102, 102);
            margin-bottom: -10px;
            font-size: 12px;
        }

        h3 {

            font-family: 18px;
        }

        .box-icones {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .icone {
                display: flex;
                gap: 20px;
                text-align: center;
                align-items: center;

                p {
                    margin: 0;
                    padding: 0;
                    height: fit-content;
                    font-size: 14px;
                    text-align: left;

                }

                span {
                    font-size: 15px;
                    color: #3A3D47;
                }

                .icon_com_dot {
                    background-color: #F4F5F7;
                    border-radius: 100%;
                    padding: 10px;
                    max-width: 30px;
                    max-height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 30px;
                        background: repeating-linear-gradient(#d3d3d3 0, #d3d3d3 5px, transparent 5px, transparent 10px);
                        top: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }

                .icon {
                    background-color: #F4F5F7;
                    border-radius: 100%;
                    padding: 10px;
                    max-width: 30px;
                    max-height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                }
            }

        }

        a {
            background-color: black;
            color: white;
            border: none;
            padding: 15px 0px;
            display: flex;
            justify-content: center;
            text-decoration: none;
            font-size: 14px;

            &:hover {
                background-color: rgb(31, 31, 31);
                transition: 0.5s;
            }
        }
    }

    .container-duplo {
        display: flex;
        max-width: 1200px;
        gap: 40px;
        width: 100%;

        .box-presentes {
            background: url(../../assets/images/bg.jpg);

        }

        .box-presentes,
        .box-sujestao-de-traje {
            border: solid 1px rgb(223, 222, 222);
            padding: 30px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: 300px;
            justify-content: space-between;

            .textos{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            .texto-presentes {
                font-size: 14px;
                color: white;
            }

            .conteudo {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

            a {
                padding: 15px 20px;
                background-color: black;
                color: white;
                font-size: 14px;
                border: none;
                text-align: center;
                cursor: pointer;
            }

            p {
                color: rgb(102, 102, 102);
                margin-bottom: -10px;
                font-size: 12px;
            }

            .texto-trajes {
                font-size: 14px;
            }

            h3 {

                font-family: 18px;
            }

            .h3_presentes {
                color: white;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 400px;
        padding-right: 20px;
        padding-left: 20px;


        .diasfaltantes {
            display: none;
        }

        h1 {
            font-size: 38px;
            letter-spacing: 0;
        }

        p {
            width: auto !important;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 20px;

        .container-evento {
            width: 100%;
        }

        .container-duplo {
            flex-direction: column;
            max-width: 100%;
            width: 100%;
        }
    }
}